/* Página Mis Cursos */

.courses-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .course-item {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.2s ease;

    img {
      width: 60px;
      margin-right: 20px;
    }

    h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
    }

    p {
      margin: 5px 0 0;
      opacity: 0.7;
    }

    .btn-edit {
      margin-left: auto;
      background: #ff7a00;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-weight: 600;
      transition: 0.2s;

      &:hover {
        background: #e66a00;
      }
    }
  }
}

.add-course {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;

  .btn-add {
    background: #ff7a00;
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    transition: 0.2s;

    img {
      width: 22px;
    }

    &:hover {
      background: #e66a00;
    }
  }
}
