/* Conexion de Carpetas SASS */
@use 'sass/base/constantes';
@use 'sass/base/raiz';

@use 'sass/pages/login';
@use 'sass/pages/home';
@use 'sass/pages/cursos';
@use 'sass/pages/homeProfesor';
@use 'sass/pages/profesor';
@use 'sass/pages/styleAdministrador';
@use 'sass/pages/register';
@use 'sass/pages/forgot';
@use 'sass/pages/emailSent';
@use 'sass/pages/courseViewProfesor';
@use 'sass/pages/misCursosProfesor';
@use 'sass/pages/progresoEstudiante'
