/* Conexion de Carpetas SASS */
@use 'sass/base/constantes';
@use 'sass/base/raiz';

@use 'sass/pages/login';
@use 'sass/pages/home';
@use 'sass/pages/homeProfesor';
@use 'sass/pages/cursosProfesor';
@use 'sass/pages/profesor';
